html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar{
  background: linear-gradient(to right,#679e95,#1b1e2a);
}
.nav-link:hover,.navbar-brand:hover{
  color: cyan !important;
}

body{
  margin: 0;
  padding: 0;
  /* background-image: url("images/LoginImg.jpg"); */
  background-image: linear-gradient(to right,#679e95,#1b1e2a);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
